<%= form_tag( { :action => :add_payment, :id => @cash }, :remote => true )  do %>

    Категория:
    <%= select_tag(:category_id,  options_for_select([""] + @categories), { "data-placeholder"=>'Выберите категорию ...',:class=>'chzn-select', "tabindex"=>'2'} )  %>
    Сумма:
    <%= text_field_tag :summa, (number_with_precision(0, :precision => 2) || 0), :class => "clear" %>
    Количество:
    <%= text_field_tag :amount, 1, :class => "clear" %>
    Цена:
    <%= text_field_tag :price, (number_with_precision(0, :precision => 2) || 0), :class => "clear" %>
 
 <h2>Тэги</h2>
    <% for tag in Tag.find(:all) %>
    <div>
    <%= check_box_tag "payment[tag_ids][]", tag.id %>
    <%= tag.name%>
    </div>
 <% end %>

 
 <div class="actions">
    <%= submit_tag "Добавить"  %>
  </div>
<% end %>