<%= form_tag( { :action => :add_transfer }, :remote => true )  do %>

Перевод </br>
с
<%= radio_button_tag :come, :true, :checked => true  %> <%= label_tag :come, 'Взять средства со счёта:', :value => :true %>
<%= radio_button_tag :come, :false  %> <%= label_tag :come, 'Положить средства на счёт:', :value => :false %>


<%= select_tag(:transfer_cash_id, options_for_select([""] + Cash.all.collect {|a| [a.name_cash, a.id]}), { "data-placeholder"=>'Укажите счёт:',:class=>'chzn-select', "tabindex"=>'2'} )  %>
    Сумма:
    <%= text_field_tag :summa, (number_with_precision(0, :precision => 2) || 0), :class => "clear" %>


<div class="actions">
    <%= submit_tag "Перевести" %>
  </div>
<% end %>