
<p>
  <b><%= Cash.human_attribute_name(:name) %>:</b>
  <%= @cash.name %>
</p>

<p>
  <b><%= Cash.human_attribute_name(:balance) %>:</b>
  <%= @cash.balance %>
</p>

<%= render("payment", :locals => {:values => @categories}) %>

<div id="payments">

<%= render 'payments' %>

</div>

<%= link_to 'Редактировать', edit_cash_path(@cash) %> |
<%= link_to 'Назад', cashes_path %>
