<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :summa %><br />
    <%= f.text_field :summa %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category_id, @categories %>
  </div>
  
  <h2>Тэги</h2>
    <% for tag in Tag.find(:all) %>
    <div>
    <%= check_box_tag "payment[tag_ids][]", tag.id, @payment.tags.include?(tag)%>
    <%= tag.name%>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
